body {
	/*background: #DDDDDD;*/
    /*background-color:#BEDB39;*/

	width: 960px;
	color: #000000;
	margin: 0px auto 0px;
	padding: 0px;

	}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
	background: whitesmoke;
	width: 950px;
	margin: 10px auto 10px;
	padding: 0px 20px 20px 20px;
	/* border: double #C0C0C0; */
	}

label {
	display : block;
}


a.button, .button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle; /* or top */
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible; /* IE6 form button fix */
}

a.button, .button {
  color: #fff;
  background-color: #2255AA;
  padding: 5px 7px;
}
.button:hover {
  background-color: #5186D7;
}


.post-content-widget {
	margin-top:20px;
}

.post-content-widget h3 {
	margin:0px;
	padding:10px;
}

.post-content-widget h3 a {
	text-decoration:none;

}


.post-content-widget-details {
	padding:10px;
}
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}
#error {
  background-color: red;
  border: solid 1px #C66;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.sidebar {
    float: right;
    color: #999;
    font-size: 14px;
}

.tags_genres {
    float: right;
    color: green;
}
.tags_genres a {
    color: #004358;
    text-decoration: none;
}

.tags_genres a:hover {
    background: #FF9933;
}

#nav {
    float: right;
    font-family: serif;

}

#books {
    float: left;
}

#footer {
    clear: both;
    padding: 10px;
    background: #FD7400;
    border-bottom: 2px solid #ddd;

}

td {
    padding: 5px 8px;
    border: 1px solid #999;
}

table {
    border-collapse: collapse;
    margin: 5px 0 10px;
}
#logo {
    align: right;
}

th {
 text-align: left;
 padding: 5px 8px;
 border: 1px solid #999;
 background: #999;

}

